# Binaries and build artifacts
build/*
bin/*
contribs/*
appdir/*

# QtCreator temporary project files
QmlMobileScanner.config
QmlMobileScanner.creator*
QmlMobileScanner.files
QmlMobileScanner.includes
QmlMobileScanner.pro.*

# Qt Quick Compiler
qrc_resources.cpp
qmlcache_loader.cpp
qml_*qml.cpp

# QMake temporary project files
Makefile
.qmake.stash

# CMake temporary project files
CMakeLists.txt.user

# XCode related
Debug/*
Release/*
QmlMobileScanner.xcodeproj/*
asset_catalog_compiler.Info.plist

# XCode signatures
assets/ios/ios_signature.pri
assets/macos/macos_signature.pri

# MobileSharing module resources (from thirdparty/MobileSharing/android/)
assets/android/src/io/emeric/mobilesharing/QShareActivity.java
assets/android/src/io/emeric/mobilesharing/QShareUtils.java

# Others
stash/*
.DS_Store
